@font-face {
    font-family: 'HatFont';
    src: url('../assets/font/Curse\ Casual.ttf') format('truetype');
}

body {
    font-family: 'HatFont', sans-serif;
    background-color: darkgray
}

#image-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    width: 40px;
    height: 40px;
    gap: 10px;
}

.img-text-right {
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.text-top-right {
    position: absolute;
    right: -5px;
    font-size: 14px;
}

.img-text-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
}

.row img {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.grayscale {
    filter: grayscale(100%);
}

.button-draggable-wrapper {
    -webkit-app-region: drag;
    background-color: black;
    position: relative;
    width: 240px;
    height: 63px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: 'HatFont', sans-serif;
    position: relative;
    width: 100px;
    background-color: black;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-app-region: no-drag;
}